.Weather {
    font-family: arial, sans-serif;
    border: 1px solid #dadde1;
    padding: 16px;
    border-radius: 4px;
    color: #8f8787;
    background-color:#ededed;
  }
  
  .Weather h1 {
    font-size: 24px;
    font-weight: 300px;
    margin: 20px 0;
    line-height: 29px;
    color: #323643;
    
    font-size: 30px;
  }
  
  .Weather ul {
    margin: 0;
    padding: 0;
  }
  
  .Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
  }
  
  .Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
  }
  
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
  }
  .spinner{
    text-align: center;
    margin: 30px;
  }
  a{
    text-decoration: none;
  }
  body {
    background: linear-gradient(-225deg,#8ed6ff 30%,#fff4e1 100%);
    min-height: 100vh;
  }
  .Weather {
    border: 1px solid #dadde1;
    padding: 16px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  }
  
  